body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: fill;
    color: white;
}

.navbar {
    background-color: #273c52;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.search-container {
    display: flex;
    gap: 10px;
}

.search-container input {
    padding: 5px;
}

.search-container button {
    padding: 5px 10px;
    cursor: pointer;
}

.home-content {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.about-content,
.contact-content {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

.team-section {
    text-align: center;
    margin-top: 30px;
}

.team-member {
    background-color: rgba(95, 129, 192, 0.582);
    padding: 15px;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.contact-form label {
    font-size: 16px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #005bb5;
}

#results {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.result {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2d6eaf;
    opacity: 0.9;
}

.result img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

h3 {
    color: #2a2a2a;
}

p {
    font-size: 1.1rem;
}